@import url("./components/QnA/Footer.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #0C021D;
}

:root {
  --max-header-height: 110px;
}

.layout {
  display: grid;
  height: 100dvh;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr minmax(0, 512px) 1fr;
}

.header {
  grid-row: 1;
  grid-column: 2;
  max-height: 126px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.16)
}

.content {
  position: relative;
  overflow-y: auto;
  grid-row: 2;
  grid-column: 2;
  padding: 0 1rem 0 1rem;
}

.footer {
  grid-row: 3;
  grid-column: 2;
  padding: 0 1rem;
  position: relative;
}

.title-section {
  padding: 0 1rem 1rem 1rem;
}

ol,
ul {
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }
}


ol,
ul {
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }
}

.question-list {
  padding: 1rem 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.bubble {
  background-color: #342749;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
}

.upvote-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0.5rem;
  top: 3.5rem;
}

.upvote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.upvote-count {
  display: inline;
  margin-right: 0.25rem;
  color: #AFA5C0;
}

.upvote-count.voted { 
  color: white;
}

/*  Collect  Card */

.collect-card-layout {
  display: grid;
  height: calc(100dvh - env(safe-area-inset-bottom));
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr minmax(0, 512px) 1fr;
  margin: 0;
  padding: 1.5rem 0;
}

.collect-card-text {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.collect-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  height: 20rem;

  & img {
    max-height: 20rem;
  }
}

.card {
  padding: 1rem 0;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--max-header-height) - 42px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
}

.reaction {
  position: absolute;
  top: 0;
  animation: floatUp 3s ease-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-40dvh) scale(2);
    opacity: 0;
  }
}
