html,
body {
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr minmax(0, 512px) 1fr;
  margin: 0;
  padding: 1.5rem 0;
}
