@import url("./components/QnA/Footer.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #0c021d;
}

:root {
  --max-header-height: 110px;
}

.layout {
  display: grid;
  height: 100dvh;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr minmax(0, 512px) 1fr;
}

.header {
  grid-row: 1;
  grid-column: 2;
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
}

.content {
  position: relative;
  max-width: 100dvw;
  overflow-y: auto;
  grid-row: 2;
  grid-column: 2;
  padding: 0 1rem 0 1rem;
}

.footer {
  grid-row: 3;
  grid-column: 2;
  padding: 0 1rem;
  position: relative;
}

.title-section {
  padding: 0 1rem 0 1rem;
}

ol,
ul {
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }
}

ol,
ul {
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }
}

.question-list {
  padding: 1rem 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.bubble {
  background-color: #342749;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr max-content;
  align-items: center;
  gap: 0.5rem;
  word-break: break-word;
}

.bubble.answered {
  opacity: 0.6;
}

.upvote-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0.5rem;
  top: 3.5rem;
}

.upvote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.upvote-count {
  display: inline;
  margin-right: 0.25rem;
  color: #afa5c0;
}

.upvote-count.voted {
  color: white;
}

/*  Collect  Card */

.collect-card-layout {
  display: grid;
  height: calc(100dvh - env(safe-area-inset-bottom));
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr minmax(0, 512px) 1fr;
  margin: 0;
  padding: 1.5rem 0;
}

.collect-card-text {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.collect-card-image {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    max-height: 20rem;
    border-radius: 15px;
    padding: 8px;
    background:
      linear-gradient(
        95deg,
        rgba(151, 71, 255, 0.50) 20.09%,
        rgba(86, 59, 131, 0.50) 80%
      ),
      rgba(255, 255, 255, 0.01);
    box-shadow:
      0px 28.665px 41.159px -26.46px rgba(255, 255, 255, 0.50) inset,
      0px -60.269px 49.979px -47.039px rgba(38, 95, 242, 0.30) inset,
      0px 72.029px 73.499px -35.28px rgba(51, 105, 244, 0.24) inset,
      0px 2.94px 13.23px 0px rgba(51, 105, 244, 0.30) inset,
      0px 0.735px 29.4px 0px rgba(38, 95, 242, 0.20) inset;
    backdrop-filter: blur(36.749481201171875px);
  }
}

.temple-background {
  background: url("/Background.svg") center -40px / contain no-repeat;
}

.card {
  padding: 1rem 0;
  text-align: center;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  height: calc(
    100dvh - var(--max-header-height) - 42px - env(safe-area-inset-bottom)
      - env(safe-area-inset-top)
  );
}

.reaction {
  position: absolute;
  top: 0;
  animation: floatUp 3s ease-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-40dvh) scale(2);
    opacity: 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.two-lines {
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
