.header {
  grid-row: 1;
  grid-column: 2;
}

.footer {
  grid-row: 3;
  grid-column: 2;
}

.title-section {
  padding: 0 1rem 1.5rem 1rem;
}

.stats-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.5px solid #373737;
  border-left: none;
  border-right: none;
  &:nth-child(2) {
    border-left: 0.5px solid #373737;
    border-right: 0.5px solid #373737;
  }
}

.stat-value {
  font-size: 1rem;
  font-weight: bold;
}

.stat-label {
  font-size: 0.8rem;
}
